{%  extends 'base.html' %}

{% block content %}

<div>
    <h4>Post a new blog</h4>
    <div>
        <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Post</button>
  </form>
    </div>
</div>

<div class="container">
    <h1>Blog</h1>
    <hr />
    {% for post in posts %}
        <div class="post">
        <h2>{{ post.title }}</h2>
        <h5>{{ post.timestamp }} | {{ post.author }}</h5>
        <p>{{ post.body_text }}</p>
        </div>
        <hr />
    {% endfor %}
</div>

{% endblock %}